body {
    background: ivory;
}


h1 {
    color: maroon;
    text-align: center;
}

h2{
    color:silver;
    text-align: center;
}

h3 {
    color: silver;
}

#myContact {
    color: rgba(255, 217, 0, 0.72);
}